/*main background layout */
body {
    background: url(http://i.imgur.com/vGKr4CV.png) !important;
}

/*main image */
.mainmenuwrapper {
    background: url(http://i.imgur.com/5wE1shI.png) no-repeat right !important;
}

/* Tabbar rooms */
.tabbar a.button.cur, .tabbar a.button.cur:hover {
    color: #fff;
    background: #4C4B6F;
    border: dashed 1px #000;
}

.tabbar a.button {
    background: #E6D1E9;
    border: dotted 1px #6B6B6B;
}

.tabbar a.button:hover {
    background: #f6e4e4;
}

.maintabbarbottom {
    background: #4C4B6F;
    border: dashed 1px #000;
}

/* Close and minimize button */
.closebutton, .minimizebutton {
    color:#9B869C;
}

.closebutton:hover, .minimizebutton:hover {
    color: #9265bb;
}

/* Icon user */
.icon-user {
    color: #5F587A !important;
}

/* Menu */
.menugroup {
    background: 1px dotted #000;
}

.menugroup button.big {
    font-size: 10pt;
}

.menugroup .button {
    background: #49404E;
    border: solid 1px #000;
    color: #fff;
    border-color: hsl(0,0%,0%);
    font-size: 8pt;
}

.menugroup .button:hover {
    background: #75657c;
}

/* Footer links */
.mainmenufooter {
    color: #fff;
}

.mainmenufooter a {
    text-decoration: none;
    color: #B29CB4;
}

.mainmenufooter a:hover {
    text-decoration: none;
    color: #fff;
}

/* Userlist */
.userlist {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background: rgba(260, 260, 260, 0.8);
}

.userlist li {
    border-bottom: 1px dotted #A3A3A3;
}

.userlist li button:hover {
    background: #fafafa;
}

.ps-room {
    border: 0;
}

.userlist li em.group {
    color: #000;
}

/* Chat-log */
.chat-log-add {
    border-top: 1px solid #000;
    background: rgba(260, 260, 260, 0.8);
}

/* Welcome Style */
.welcome {
    background: url(http://i.imgur.com/3lBSg3c.png) center repeat-y;
    color: #fff;
    margin-top: -17px;
}

.welcome hr {
    border: 1px dashed #fff;
}

.welcome button {
    background: #575781;
    color: #fff;
    border: 1px solid #fff;
    font-size: 10pt;
    padding: 5px;
}

.welcome button:hover {
    background: #212542;
}

#welcome-content {
    width: 440px;
}

.league-info {
    background: #b4ff94 url(http://hispano.xiaotai.org/league.png) top right no-repeat;
}
