/* Header */
#header {
    background: url(http://i.imgur.com/XkjakIM.png);
}

/*main background layout */
body {
    background: url(http://i.imgur.com/vGKr4CV.png) !important;
}

/*main image */
.mainmenuwrapper {
    background: url(http://i.imgur.com/5wE1shI.png) no-repeat right !important;
}

/* Tabbar rooms */
.tabbar a.button.cur, .tabbar a.button.cur:hover {
    color: #fff;
    background: #4C4B6F;
    border: dashed 1px #000;
}

.tabbar a.button {
    border: solid 1px #000;
}

.maintabbarbottom {
    background: #4C4B6F;
    border: solid 1px #000000;
}

/* Close and minimize button */
.closebutton, .minimizebutton {
    color: #9187BB;
}

.closebutton:hover, .minimizebutton:hover {
    color: rgb(216, 205, 205);
}

/* Icon user */
.icon-user {
    color: #5F587A !important;
}

/* Menu */
.menugroup {
    border: 1px dotted #000;
}

.menugroup button.big {
    font-size: 10pt;
}

.menugroup .button {
    background: #49404E;
    border: solid 1px #000;
    color: #fff;
    border-color: hsl(0, 0%, 0%);
    font-size: 8pt;
}

.menugroup .button:hover {
    background: rgb(117, 101, 124);
}

/* Footer links */
.mainmenufooter {
    color: #fff;
}

.mainmenufooter a {
    text-decoration: none;
    color: #B29CB4;
}

.mainmenufooter a:hover {
    text-decoration: none;
    color: #fff;
}

/* Userlist */
.userlist {
    border-right: 1px solid #000;
    background: rgba(230, 230, 230, 0.8);
}

.userlist li {
    border-bottom: 1px dotted #A3A3A3;
}

.userlist li button:hover {
    background: #fafafa;
}

.ps-room {
    border: 0;
}

.userlist li em.group {
    color: #000;
}

/* Chat-log */
.chat-log-add {
    border-top: 1px solid #000;
    background: rgba(230, 230, 230, 0.8);
}

/* Announce */
.message-announce {
    background: #4F3F5A;
    font-style: italic;
}

/* Declare Color */
.broadcast-blue {
    background: #8FA6B3;
    color: #000;
    border: 2px solid #000;
    padding: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 10pt;
}

.broadcast-red {
    background: #ec5c4d;
    color: #000;
    border: 2px solid #000;
    padding: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 10pt;
}

.broadcast-green {
    background: #559955;
    color: #000;
    border: 2px solid #000;
    padding: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 10pt;
}

/* PM Messages */
.pm-window h3 {
    background: rgba(68, 49, 70, 0.9);
    color: #fff;
    border: 1px solid #000000;
}

.pm-window h3:hover {
    color: #FFE5FE;    
}

.pm-log-add {
    border: 1px solid #000000;
    background: rgba(68, 49, 70, 0.9);
}

.pm-window.focused h3, .pm-window.focused h3:hover {
    color: #463949;
    background: #baa7bf;
    border: 1px solid #000;
}

/* Popup */
.ps-popup {
    border: 2px solid #000000;
    background: #F5F5F5;
}

.ps-popup a {    
    color: rgb(107, 32, 32);
    text-decoration: none;
}

.ps-popup a:hover {
    color: rgb(224, 0, 0);
    text-decoration: none;
}

/* Battle Background */
.backdrop {
    background: url(http://i.imgur.com/g8C3QlK.png) !important;
}

/* Infobox */
.infobox {
    border: 1px dotted #6688AA;    
    padding: 5px;
}

/* Roomlist */
.roomlist a.ilink {
    border: 0;
    padding: 5px;
    color: #fff;
    background: rgb(88, 88, 88);
}    

.roomlist a.ilink:hover {
    background: rgb(138, 138, 138);
    border: 0;
    color: #fff;    
}

/* Welcome Message */
.welcome {
    background: url(http://i.imgur.com/3lBSg3c.png) center repeat-y;
    color: #fff;
    margin-top: -3px;
}

.welcome hr {
    border: 1px dashed #fff;
}

.welcome button {
    background: rgb(87, 87, 129);
    color: #fff;
    border: 1px solid #fff;
    font-size: 10pt;
    padding: 5px;
}

.welcome button:hover {
    background: rgb(33, 37, 66);
}

#welcome-content {
    width: 440px;
}

/* Liga */
.league {
    background: url("http://i.imgur.com/j3gPbd8.png") center repeat-y;
    color: #fff;
    margin-top: -3px;
}

.league hr {
    border: 2px solid #fff;    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 97%;
    margin-left: 0;
}

.league button {
    border: 0;
    border-left: 1px solid #fff;
    color: #fff;
    background: rgb(134, 119, 96);
    padding: 5px;
    font-weight: bold;
}

.league button:hover {
    background: rgb(175, 156, 105);
}

.league a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
    font-size: 10pt;
}

.league a:hover {
    text-decoration: underline;
}

.alto-mando {
    font-size: 10pt;    
}

.alto-mando button {
    width: 97%;    
    border-left: 0 !important;
}

.lideres button {
    width: 30%;
    font-size: 9pt;
    margin-right: 3px;    
    margin-top: 3px;
}

#league-content {
    width: 440px;
    padding-left: 5%;
}
